.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar{
    display: flex;
    list-style: none;
   align-items: center;
}
.nav-li-title a{
    text-decoration: none;
    margin-right: 20px;
    font-size: 30px;
    color: black;
    justify-content: center;
    padding: 10px 0px 0px ;

}
.btn-primary{
    background-color: rgba(230, 125, 130, 0.984);
    font-size: 30px ;
    border: 0px;
    padding: 10px;
    border-radius: 10px;

    
}
.nav-title{
    font-size: 70px;
    justify-content: center;
    padding: 10px;
    margin-left: 100px;
}
.mary{
    color: rgba(255, 127, 80, 0.759);
}
.header-container{
    height: 950px;
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position:bottom left, bottom right;
    background-color:  rgb(242, 218, 218)
}
.nav-li-btn{
    text-align: center;
    justify-content: center;
    padding: 10px;
    margin:0px 20px;
    
    
}

/* banner info */

.banner-details{
    width: 300px;
    /* text-align: center; */
    margin: 10px;
}
   
.banner-header{
    display: flex;
    justify-content: space-between;
    margin: 50px 30px 5px 200px;
    /* text-align: center; */
}
.img-hardy{
    position: bottom right;
    margin: 5px 5px 0px 30px;
    padding-bottom: 0px;
    padding-right: 20px;
}
.banner-container{
    margin:100px 30px;
    font-size: 30px;
}
}
    
}